{{/*
Copyright (c) 2023 Eclipse Foundation, Inc.

This program and the accompanying materials are made available under the
terms of the Eclipse Public License v. 2.0 which is available at
http://www.eclipse.org/legal/epl-2.0.

Contributors:
Olivier Goulet <olivier.goulet@eclipse-foundation.org>

  SPDX-License-Identifier: EPL-2.0
  */}}

<div class="resource-section featured-section bg-secondary margin-y-60 dark">
    <div class="resources resources-heading">
      <div class="resources-item">
        <span class="h3">For Organizations</span>
      </div>
      <div class="resources-item">
        <span  class="h3">For Developers</span>
      </div>
      <div class="resources-item">
        <span class="h3">For Everyone</span>
      </div>
    </div>
    <div class="resources">
      <div class="resources-item bg-primary">
        <h3 class="visible-xs visible-sm">For Organizations</h3>
        <p>
          <a href="mailto:collaborations@eclipse-foundation.org">Contact us</a>
          about joining the <a href="https://projects.eclipse.org/interest-groups/threadx-interest-group">Interest
            Group</a>
        </p>
      </div>
      <div class="resources-item bg-primary">
        <h3 class="visible-xs visible-sm">For Developers</h3>
        <p>
          Contribute to the <a href="https://projects.eclipse.org/proposals/eclipse-threadx">Project</a>. Join the <a
            href="https://accounts.eclipse.org/mailing-list/threadx-dev">Eclipse ThreadX developer mailing list</a>
        </p>
      </div>
      <div class="resources-item bg-primary">
        <h3 class="visible-xs visible-sm">For Everyone</h3>
        <p>
          Stay connected by joining the general <a href="https://accounts.eclipse.org/mailing-list/threadx">Eclipse
            ThreadX mailing list</a>
        </p>
      </div>
    </div>
    <h2 class="margin-top-60">Other Resources</h2>
    <ul class="other-resources-links text-center">
      <li>
        <a href="https://eclipse-foundation.blog/2023/11/21/introducing-eclipse-threadx/">Eclipse Foundation:
          Introducing Eclipse ThreadX</a>
        <span aria-hidden="true">|</span>
      </li>
      <li>
        <a
          href="https://techcommunity.microsoft.com/t5/internet-of-things-blog/microsoft-contributes-azure-rtos-to-open-source/ba-p/3986318">Microsoft
          Announcement</a>
        <span aria-hidden="true">|</span>
      </li>
      <li>
        <a href="/faq">FAQs</a>
      </li>
    </ul>
  </div>