/*!
 * Copyright (c) 2023 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
*/

.btn,
.btn-primary,
.btn-secondary {
  font-weight: 600;

  &,
  &:hover,
  &:active {
    color: @black;
  }
}

.btn.btn-pill {
  border-radius: 9999px;
}

.btn-group-pill-collapse > .btn-pill {
  &:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
}

// Make button group pill collapse work with lists.
.btn-group-pill-collapse {
  li:first-child .btn-pill {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  li:last-child .btn-pill {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  li:not(:first-child):not(:last-child) .btn-pill {
    border-radius: 0;
  }
}
